@import "tailwindcss";

/* Root layout */
.app-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  padding: 0 1rem;
  color: white;
  font-weight: 600;
}

/* Sidebar wrapper */
.box-1 {
  width: 275px;
  position: sticky;
  top: 0;
  height: 100vh;
  flex-shrink: 0;
}

/* home feed wrapper */
.box-2 {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  padding-right: 0.5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.box-2 {
  scroll-behavior: smooth;
}
