@import "tailwindcss";

/* Root layout */
.app-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  padding: 0 1rem;
  color: white;
  font-weight: 600;
}

/* Sidebar wrapper */
.box-1 {
  width: 275px;
  position: sticky;
  top: 0;
  height: 100vh;
  flex-shrink: 0;
}


.box-2 {
 max-width: 700px;
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  padding-right: 0.5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  scroll-behavior: smooth;
  /* Hide scrollbar but keep scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge */
}

.box-2::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
