.app-layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  background-color: #222;
  color: aliceblue;
}

.app-layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}
